data/*.npy
data/processed/
data/*.npz

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

# Sistema
.DS_Store

# Notebooks ejecutados y temporales
notebooks/executed_*.ipynb
notebooks/prueba_clase.ipynb

# Renderizado de reportes
reports/page_*.png

